@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mona Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
